@define-color cc-bg rgba(44, 48, 59, 0.6);
@define-color noti-border-color rgba(255, 255, 255, 0.15);
@define-color noti-bg rgba(57, 64, 79, 0.5);
@define-color noti-bg-darker rgb(57, 64, 79);
@define-color noti-bg-hover rgb(27, 27, 43);
@define-color noti-bg-focus rgba(27, 27, 27, 0.6);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
@define-color text-color rgba(169, 177, 214, 1);
@define-color text-color-disabled rgb(150, 150, 150);
@define-color bg-selected rgb(0, 128, 255);

* {
  font-size: 14px;
  font-family: monospace Bold;
  transition: 100ms;
  box-shadow: unset;
}

.control-center .notification-row {
  background-color: unset;
}


.control-center .notification-row .notification-background .notification,
.control-center .notification-row .notification-background .notification .notification-content,
.floating-notifications .notification-row .notification-background .notification,
.floating-notifications.background .notification-background .notification .notification-content {
  margin-bottom: unset;
}

.control-center .notification-row .notification-background .notification {
  margin-top: 0.150rem;
}

.notification {
  background: rgba(57, 64, 79, 1);
  border: 2px solid #FF7F7F;
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem;
  
}

.floating-notifications.background .notification-background .notification .notification-content,
.control-center .notification-background .notification .notification-content {
  background-color: @cc-bg;
  padding: 0.818rem;
  padding-right: unset;
  margin-right: unset;
}


.control-center .notification-row .notification-background .notification.low .notification-content label,
.control-center .notification-row .notification-background .notification.normal .notification-content label,
.floating-notifications.background .notification-background .notification.low .notification-content label,
.floating-notifications.background .notification-background .notification.normal .notification-content label {
  color: #FFFFFF;
  font-family: FontAwesome, Roboto, Helvetica, monospace, sans-serif;
  font-weight: bold;
  font-size: 14px; 
}

.control-center .notification-row .notification-background .notification..notification-content image,
.control-center .notification-row .notification-background .notification.normal .notification-content image,
.floating-notifications.background .notification-background .notification.low .notification-content image,
.floating-notifications.background .notification-background .notification.normal .notification-content image {
  background-color: unset;
  color: #e2e0f9;
}

.control-center .notification-row .notification-background .notification.low .notification-content .body,
.control-center .notification-row .notification-background .notification.normal .notification-content .body,
.floating-notifications.background .notification-background .notification.low .notification-content .body,
.floating-notifications.background .notification-background .notification.normal .notification-content .body {
  color: #d8dee9;
}

.control-center .notification-row .notification-background .notification.critical .notification-content,
.floating-notifications.background .notification-background .notification.critical .notification-content {
  background-color: #FF7F7F;


}

.control-center .notification-row .notification-background .notification.critical .notification-content image,
.floating-notifications.background .notification-background .notification.critical .notification-content image{
  background-color: unset;
  color: #ffb4a9;
}

.control-center .notification-row .notification-background .notification.critical .notification-content label,
.floating-notifications.background .notification-background .notification.critical .notification-content label {
  color: #0A0B0B;
  font-family: FontAwesome, Roboto, Helvetica, monospace, sans-serif;
  font-weight: bold;
  font-size: 14px; 
}

.control-center .notification-row .notification-background .notification .notification-content .summary,
.floating-notifications.background .notification-background .notification .notification-content .summary {
  font-family: 'Gabarito', 'Lexend', sans-serif;
  font-size: 0.9909rem;
  font-weight: 500;
}

.control-center .notification-row .notification-background .notification .notification-content .time,
.floating-notifications.background .notification-background .notification .notification-content .time {
  font-family: 'Geist', 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', 'Ubuntu', sans-serif;
  font-size: 0.8291rem;
  font-weight: 500;
  margin-right: 1rem;
  padding-right: unset;

}

.control-center .notification-row .notification-background .notification .notification-content .body,
.floating-notifications.background .notification-background .notification .notification-content .body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.8891rem;
  font-weight: 400;
  margin-top: 0.310rem;
  padding-right: unset;
  margin-right: unset;

}

.control-center .notification-row .close-button,
.floating-notifications.background .close-button {
  background-color: unset;
  border-radius: 8px;
  border: none;
  box-shadow: none;
  margin-right: 13px;
  margin-top: 6px;
  margin-bottom: unset;
  padding-bottom: unset;
  min-height: 20px;
  min-width: 20px;
  text-shadow: none;
}

.control-center .notification-row .close-button:hover,
.floating-notifications.background .close-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.control-center {
  background: @cc-bg;
  border: 3px solid transparent;
  margin-top: 10px;
  margin-bottom: 1px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 8px;
}

.control-center trough {
  background-color: #45475a;
  border-radius: 8px;
  -gtk-outline-radius: 8px;
  min-width: 0.545rem;
  background-color: transparent;  
}

.control-center slider {
  border-radius: 8px;
  -gtk-outline-radius: 8px;
  min-width: 0.273rem;
  min-height: 2.045rem;
  background-color: @noti-bg-darker;
}

.control-center slider:hover {
  background-color: @noti-bg-darker;
}

.control-center slider:active {
  background-color: @noti-bg-darker;
}

.widget-dnd > switch {
  border-radius: 5px;
  background: #7CB6F5;
}

.widget-dnd > switch:checked {
  background: #FF7F7F;
  border: 1px solid #FF7F7F;
}

.widget-dnd > switch slider,
.widget-dnd > switch:checked slider {
  background: @noti-bg-darker;
  border-radius: 5px;
}

/* title widget */

.widget-title {
  color: #7CB6F5;
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 5px 10px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.widget-title > button {
  font-size: 1rem;
  color: @text-color;
  text-shadow: none;
  background: #7CB6F5;
  box-shadow: none;
  border-radius: 5px;
  color: @noti-bg-darker;
}

.widget-title > button:hover {
  background: #FF7F7F;
  color: @noti-bg-darker;
}

.widget-dnd {
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 5px;
  font-size: large;
  color: #7CB6F5;
}

.widget-label {
  margin: 10px 10px 5px 10px;
}

.widget-label > label {
  font-size: 14px;
  font-family: monospace Bold;
  color: #d8dee9;
}

.widget-buttons-grid {
  font-size: x-large;
  padding: 5px;
  margin: 10px 10px 5px 10px;
  border-radius: 8px;
  background: @noti-bg-darker;
  border: #363C4A;
}

.widget-buttons-grid>flowbox {
  padding: unset;
}

.widget-buttons-grid>flowbox>flowboxchild>button:first-child {
  margin-left:unset ;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  border:none;
  background-color: unset;
  border-radius: 8px;
  min-width: 5.522rem;
  min-height: 2.927rem;
  padding: unset;
  margin: unset;
}

.widget-buttons-grid>flowbox>flowboxchild>button label {
  font-family: "Materials Symbol Rounded";
  font-size: 1.3027rem;
  color: #d8dee9;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background-color: #7CB6F5;
  border-radius: 8px;
  
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover label {
  background-color: #7CB6F5;
  color: @noti-bg-darker;
  border-radius: 8px;
  
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked {
  /* OnePlus McClaren edition Orange accent */
  background-color: #ff9f34;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked label {
  color: #14141B;
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
  border: #363C4A;
}

.topbar-buttons > button {
  border: #363C4A;
  background: transparent;
}

/* Volume widget */

.widget-volume {
  background-color: rgba(28, 28, 34, 0.35);
  padding: 8px;
  margin: 8px;
  -gtk-outline-radius: 1.159rem;
}

.widget-volume trough {
  /* OnePlus McClaren edition Orange accent */
  border:unset;
  background-color: rgba(128, 128, 128, 0.4);
}


.widget-volume trough slider {
  /* OnePlus McClaren edition Orange accent */
  color:unset;
  background-color: #ff9f34;
  border-radius: 100%;
  min-height: 1.25rem;
}


/* Mpris widget */

.widget-mpris {
  background-color: rgba(28, 28, 34, 0.35);
  padding: 8px;
  margin: 8px;  
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem;  
}

.widget-mpris-player {
  padding: 8px;
  margin: 8px;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}
