[Desktop Entry]
Categories=System
Comment[en_US]=EndeavourOS Hyprland wallpaper launcher
Comment=EndeavourOS Hyprland wallpaper launcher
Encoding=UTF-8
Exec=select-wallpaper -s
GenericName[en_US]=
GenericName=
Hidden=false
Icon=livewallpaper
MimeType=
Name[en_US]=select-wallpaper
Name=select-wallpaper
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-GNOME-Autostart-enabled=true
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-autostart-after=panel
